* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 2000px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding:20px;
  border-bottom:5px solid black;
  overflow: hidden;
  background-color: white;
  width: 100%;
  z-index: 9999;
}

.headewrapper{
  position: relative;
}

.logo {
  font-family: 'Michroma', sans-serif;
  width: 100%;
  margin-left:100px;
  border-right: 2.5px solid black;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 70px;
  letter-spacing: 10px;


}

.logobg{
  position:absolute;
  top:0px;
  left: 0px;
  width: 1590px;
  z-index: -1;
  opacity: 0.05;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding:15px;
  list-style: none;
  
}

.nav a{
  text-decoration: none;
  font-family: 'Rubik', sans-serif;    
  font-size: 16px;
  color:black;
  letter-spacing: 0.2px;
  font-weight:500;
  padding: 5px;
}

.nav img{
  width: 48px;
  margin-right: 8px;
}

.dropdownwrapper{
  position: sticky;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  background-color: white;
  top:145px;
  width: 100%;
  padding: 5px;
  gap:10px;
  z-index: 999;
}

.link{
  background: none;
  text-decoration: none;
  color: black;
  font-family: 'Rubik', sans-serif;
  border: none;
  cursor: pointer;
  border-right: 2px solid black;
  font-size: 15px;
  padding-right: 40px;
  border-left: 2px solid black;
  padding-left: 40px;
  font-weight: 900;
  }

  .dropdown.active > .link,
  .link:hover{
    color:red;
  }

  .dropdown{
    position: relative;
  }

  .dropdown-menu{
    position:absolute;
    left:0;
    top:calc(100% + 7px);
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    width: 499px;
    padding: 10px;
  }

  .dropdown.active > .link + .dropdown-menu{
    opacity:1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .links{
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    cursor: pointer;
  }

  .information-grid {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .information-grid > * {
    margin-bottom: 10px;
  }

  .image-container {
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
  }


.dropdown {
position: relative;
z-index: 999;
}

.slider{
width: 100%;
height: 700px;
overflow: hidden;
top: 500px;
}

.slides{
width: 500%;
height: 500px;
display: flex;
}

.slides input{
display: none;
}

.slide{
width: 20%;
transition: 2s;

}

.slide img{
width: 100%;
height: 700px;
object-fit: cover;
}

.navigation-manual{
position: absolute;
width: 100%;
margin-top: 150px;
display: flex;
justify-content: center;
}


.manual-btn{
border:2px solid white;
padding:5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
background: whitesmoke;
}

#radio1:checked ~ .first{
margin-left: 0;
}

#radio2:checked ~ .first{
margin-left: -20%;
}

#radio3:checked ~ .first{
margin-left: -40%;
}

#radio4:checked ~ .first{
margin-left: -60%;
}

.text-container{
display: flex;
text-align: center;
width: 100%;
justify-content: center;
position: absolute;
top: 400px;
}

.text-container p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 56px;
color: white;
font-style: italic;
}

.navigation-auto{
position: absolute;
display: flex;
justify-content: center;
width: 100%;
margin-top: 650px;
}

.navigation-auto div{
border: 2px solid white;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio:checked ~ .navigation-auto .auto-btn1{
background: white ;
}

#radio:checked ~ .navigation-auto .auto-btn2{
background: white ;
}

#radio:checked ~ .navigation-auto .auto-btn3{
background: white ;
}

#radio:checked ~ .navigation-auto .auto-btn4{
background: white ;
}


.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  grid-row-gap:100px;
  grid-column-gap:100px;
  margin:0 50px 0 50px;
}

.section-title{
  font-size: 50px;
  font-weight: 600px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-box{
  position: relative;
  height: 300px;
  box-shadow: 3px 4px 15px 4px rgba(0,0,0,0.05);

}

.product-box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: .4s ;
}

.product-img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-title,.price{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.price{
  font-weight: 100;
}